# Customer_Purchase

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://github.com/YBI-Foundation/Dataset/raw/main/Customer%20Purchase.csv')

In [4]:
df.head()

   Customer ID  Age  Gender Education   Review Purchased
0         1021   30  Female    School  Average        No
1         1022   68  Female        UG     Poor        No
2         1023   70  Female        PG     Good        No
3         1024   72  Female        PG     Good        No
4         1025   16  Female        UG  Average        No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  50 non-null     int64
 1   Age          50 non-null     int64
 2   Gender       50 non-null     object
 3   Education    50 non-null     object
 4   Review       50 non-null     object
 5   Purchased    50 non-null     object
dtypes: int64(2), object(4)
memory usage: 2.5+ KB

In [24]:
df.describe(include = 'all')

        Customer ID        Age  Gender Education Review Purchased
count      50.00000  50.000000      50        50     50        50
unique          NaN        NaN       2         3      3         2
top             NaN        NaN  Female        PG   Poor        No
freq            NaN        NaN      29        18     18        26
mean     1045.50000  54.160000     NaN       NaN    NaN       NaN
std        14.57738  25.658161     NaN       NaN    NaN       NaN
min      1021.00000  15.000000     NaN       NaN    NaN       NaN
25%      1033.25000  30.250000     NaN       NaN    NaN       NaN
50%      1045.50000  57.000000     NaN       NaN    NaN       NaN
75%      1057.75000  74.000000     NaN       NaN    NaN       NaN
max      1070.00000  98.000000     NaN       NaN    NaN       NaN

In [7]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Education', 'Review', 'Purchased'], dtype='object')

In [8]:
X = df.drop(['Customer ID', 'Age', 'Purchased'], axis=1)

In [9]:
y = df['Purchased']

In [10]:
X.shape

(50, 3)

In [11]:
y.shape

(50,)

In [17]:
X

    Gender Education   Review
0   Female    School  Average
1   Female        UG     Poor
2   Female        PG     Good
3   Female        PG     Good
4   Female        UG  Average
5   Female    School  Average
6     Male    School     Good
7   Female    School     Poor
8   Female        UG  Average
9     Male        UG     Good
10  Female        UG     Good
11    Male        UG     Good
12    Male    School     Poor
13  Female    School  Average
14    Male        PG     Poor
15    Male        UG     Poor
16    Male        UG     Poor
17  Female        UG     Poor
18    Male    School     Good
19    Male        PG     Poor
20  Female    School  Average
21    Male        PG  Average
22  Female        PG     Poor
23  Female    School     Good
24  Female        PG  Average
25  Female    School     Good
26  Female        PG     Poor
27  Female        PG     Poor
28    Male    School     Poor
29  Female        UG  Average
30    Male        UG  Average
31  Female    School     Poor
32    Male        UG  Average
33  Female        PG     Good
34    Male    School  Average
35    Male    School     Poor
36  Female        UG     Good
37    Male        PG  Average
38  Female    School     Good
39    Male        PG     Poor
40    Male    School     Good
41    Male        PG     Good
42  Female        PG     Good
43    Male        PG     Poor
44  Female        UG  Average
45    Male        PG     Poor
46  Female        PG     Poor
47  Female        PG     Good
48  Female        UG     Good
49  Female        UG     Good

# Preprocessing

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [19]:
oe = OrdinalEncoder()

In [21]:
X_oe = oe.fit_transform(X)

In [ ]:
X_oe

In [26]:
y = df['Purchased']

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
le = LabelEncoder()

In [29]:
y_le = le.fit_transform(y)

# Train_test_split

In [35]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X_oe, y_le, test_size = 0.3, random_state = 2529, stratify = y)

In [46]:
X_train.shape

(35, 3)

In [47]:
y_train.shape

(35,)

In [48]:
from sklearn.naive_bayes import GaussianNB

In [49]:
model = GaussianNB()

In [50]:
model.fit(X_train, y_train)

GaussianNB()

In [51]:
y_predict = model.predict(X_test)

In [52]:
y_predict

array([0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1])

In [53]:
from sklearn.metrics import confusion_matrix , classification_report

In [54]:
nberr = confusion_matrix(y_test, y_predict)

In [55]:
print(nberr)

[[0 8]
 [5 2]]